# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Environnements
.venv/
venv/
.env

# OS
.DS_Store

# Matplotlib / notebooks
.matplotlib/
.ipynb_checkpoints/

# Sorties locales
out/
