# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Environnements
.venv/
venv/
.env
.env.*

# OS
.DS_Store

# Matplotlib / notebooks
.matplotlib/
.ipynb_checkpoints/

# Sorties locales / rendus
out/
data/out/
*.mp4
*.gif

# Docker / tooling
docker-compose.override.yml
*.log

# IDE / Editeurs
.vscode/
.idea/
*.code-workspace
