services:
  gui:
    build:
      context: .
      dockerfile: Dockerfile
    image: kerosene-app:latest
    container_name: kerosene-run
    environment:
      DISPLAY: 192.168.1.5:0
      MODE: gui
      AUTO_RESTART: "1"
      RESTART_DELAY: "2"
      PYTHONUNBUFFERED: "1"
      DEBUG: "1"
      LOG_EVERY: "1"
    network_mode: host
    privileged: true
    restart: unless-stopped

  render:
    build:
      context: .
    image: kerosene-app:latest
    container_name: kerosene-render
    environment:
      MODE: render
      LOOP_DELAY: "0"
      FPS: "10"
      INTERVAL_MS: "90"
      OUT_DIR: "/out"
      PYTHONUNBUFFERED: "1"
      DEBUG: "1"
    volumes:
      - ./out:/out
    restart: "no"