aiofiles==23.2.1
aiohttp==3.9.3
aiosignal==1.3.1
appdirs==1.4.4
asgiref==3.8.1
attrs==25.1.0
beautifulsoup4==4.12.3
black==24.4.2
blinker==1.9.0
Brotli==1.1.0
bs4==0.0.2
cachetools==5.3.3
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
ConfigArgParse==1.7
contourpy==1.2.0
coverage==7.6.12
cycler==0.12.1
distlib==0.3.8
Django==3.2.5
djangorestframework==3.12.4
djangorestframework-simplejwt==4.7.2
filelock==3.15.4
flake8==7.1.2
flake8-html==0.4.3
Flask==3.1.0
Flask-Cors==5.0.0
Flask-Login==0.6.3
fonttools==4.48.1
frozenlist==1.4.1
geoip2==4.8.0
geolite==0.1.0
gevent==24.11.1
geventhttpclient==2.3.3
greenlet==3.1.1
h11==0.14.0
idna==3.10
instaloader==4.14.1
ipinfo==5.0.1
itsdangerous==2.2.0
Jinja2==3.1.5
kiwisolver==1.4.5
locust==2.32.10
lxml==5.3.0
mac-vendor-lookup==0.1.12
MarkupSafe==3.0.2
matplotlib==3.8.2
maxminddb==2.5.2
mccabe==0.7.0
msgpack==1.1.0
multidict==6.0.5
mypy==1.9.0
mypy-extensions==1.0.0
numpy==1.26.4
outcome==1.3.0.post0
packaging==24.0
pathspec==0.12.1
pillow==10.2.0
pipenv==2024.4.0
platformdirs==4.2.1
psutil==7.0.0
pycodestyle==2.12.1
pyflakes==3.2.0
Pygments==2.17.2
PyJWT==2.10.0
pyparsing==3.1.1
pyshark==0.6
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.1
python-nmap==0.7.1
pytz==2024.2
pyzmq==26.2.1
requests==2.32.3
scapy==2.5.0
selenium==4.28.1
setuptools==75.8.0
shapely==2.0.3
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
sqlparse==0.5.2
termcolor==2.5.0
trio==0.29.0
trio-websocket==0.12.1
typing_extensions==4.12.2
urllib3==2.3.0
virtualenv==20.28.0
websocket-client==1.8.0
Werkzeug==3.1.3
wsproto==1.2.0
yarl==1.9.4
zope.event==5.0
zope.interface==7.2
